# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/
conda-env/

# =========================
# Flask
# =========================
instance/
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Database
# =========================
*.db

# =========================
# Environment Variables
# =========================
.env
