body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
}

.navbar {
  background: #2c3e50;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.home {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: auto;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.container {
  padding: 20px;
}

.form {
  margin-bottom: 20px;
}

input,
select,
button {
  padding: 8px;
  margin-right: 5px;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background: #ecf0f1;
}
