{% extends 'index.html' %} {% block content %}
<section class="content-place">
  <h1>Data Alternatif</h1>

  <form class="form" method="POST" action="{{ url_for('alternatif') }}">
    <input type="text" name="nama" placeholder="Nama Alternatif" required />
    <button type="submit">Tambah</button>
  </form>

  <table cellpadding="8">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama Alternatif</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      {% for a in alternatif %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ a[1] }}</td>
        <td>
          <a href="{{ url_for('edit_alternatif', id=a[0]) }}">Edit</a>
          <form
            method="POST"
            action="{{ url_for('delete_alternatif', id=a[0]) }}"
            style="display: inline"
            onsubmit="return confirm('Hapus alternatif ini?')"
          >
            <button type="submit" class="btn-delete">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
