<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="home"><a href="/">SPK WP</a></div>
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/kriteria">Kriteria</a></li>
        <li><a href="/alternatif">Alternatif</a></li>
        <li><a href="/hasil">Hasil</a></li>
        <li><a href="/nilai">Nilai</a></li>
      </ul>
    </nav>

    <main class="container">{% block content %}{% endblock %}</main>
  </body>
</html>
